.container
  %h2 Board
  .board
    %h3.board_title= @board.title
    .board_content
      = @board.content
    .board_heart
      = image_tag 'header-avator.png'
    .board_actions
      .dropdown
        = image_tag 'actions.svg', class: 'dropbtn'
        .dropdown-content.mini
          = link_to 'Edit', edit_board_path(@board)
          = link_to 'Delete', board_path(@board), data: { method: 'delete', confirm: '本当に削除しますか？' }