.container
  %h2.board_title= @board.title
  .board
    - @tasks.each do |task|
      = link_to borad_task_path(@board, task) do
        %h3.task_title= @tasks.title
        .board_content
          = @tasks.content
        .board_heart
          = image_tag 'header-avator.png'
  = link_to new_task_path, class: 'add-link' do
    + Add new card